[build]
  publish = "User"
  command = ""

[[redirects]]
  from = "/work"
  to = "/work.html"
  status = 200

[[redirects]]
  from = "/contact"
  to = "/contact.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
